<% currentGroup.get('fields').each(function (field, fieldIndex) { %>
    <% var fid = field.get('fid'); %>
    <% var currentError = obj['errors'] && errors[fid] %>
    <td class="<% if (currentError){ %>bg-danger<% } %>" >
        <% if (field.get('type') == 'li') { %>
            <div data-type="<%-field.get('type') %>" data-fid="<%- fid %>"></div>
        <% } else if (field.get('type') == 'da') { %>
            <input class="form-control col-xs-2" type="text" name="<%- fid %>" value="<%- formatDate(obj[fid]) %>" data-type="<%-field.get('type') %>" placeholder="mm/dd/yyyy">
        <% } else if (['id', 'va', 'te', 'im', 'ur'].indexOf(field.get('type')) >= 0) { %>
            <input class="form-control col-xs-2" type="text" name="<%- fid %>" value="<%- obj[fid] %>" data-type="<%-field.get('type') %>">
        <% } else { %>
            <select data-live-search="true" name="<%- field.get('fid') %>" data-type="<%-field.get('type') %>">
                <% var sortedValues = _.sortBy(field.get('values'), function(value) {return value.name}) %>
                <% _.each(sortedValues, function (value, index) { %>
                    <% if (!value.is_temp) { %>
                        <option value="<%- value.number %>" <% if(isSelected(fid, value)){ %>selected<% } %> ><%- value.name %></option>
                    <% } %>
                <% }); %>
                <option value="null" <% if(!(fid in obj)){ %>selected<% } %> >None</option>
            </select>
        <% } %>
        <% if (currentError){ %><%- currentError %><% } %>
    </td>
<% }); %>
<% if(controls) { %>
    <% var allErrors = obj['errors'] && errors['__all__'] %>
    <td class="<% if (allErrors){ %>bg-danger<% } %>" >
        <div class="btn-group" role="group" aria-label="">
            <button class="btn btn-default btn-xs js-save">Save</button>
            <button class="btn btn-default btn-xs js-del"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        </div>
        <% if (allErrors){ %><%- allErrors %><% } %>
    </td>
<% } %>