<% _.each(getSerializeFields(), function (field, fieldIndex) { %>
    <% var currentFieldModel = getField(fieldIndex); %>
    <% var currentClass = 'field-' + currentFieldModel.get('type') %>
    <td class="<%- currentClass %>"><%= field %></td>
<% }); %>
<% if (controls) { %>
    <td>
        <% if (currentGroup.get('type') === 'us') { %>
            <button class="btn btn-default btn-xs js-delete"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        <% } %>
        <span class="view-vote-place"></span>
        <% var allErrors = obj['errors'] && errors['__all__'] %>
        <% if (allErrors){ %><%- allErrors %><% } %>
    </td>
<% } %>