<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <h3 style="display: inline"><%- name %></h3>
        <% if (user.isAuthenticated() && edit !== 'no' && controls) { %>
        <button type="button" class="btn btn-default btn-sm js-add-field" style="margin-bottom: 6px;margin-left: 10px;">
            Add field
        </button>
        <% } %>
    </div>

    <!-- Table -->
    <table class="table table-bordered">
        <thead>
        <tr>
            <% fields.each(function (fieldModel, index) { %>
            <th><%- fieldModel.get('name') %></th>
            <% }); %>
            <% if (controls) { %>
            <th style="width: 80px;"></th>
            <% } %>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>