<div class="row">
    <div class="col-lg-12">
        <div id="ItemDetailView">
            <div style="position: fixed; left: 45%; top: 45%;">
                <img src="<%-LoadImage %>">
            </div>
        </div>
    </div>
</div>