<form class="form-inline">
  <div class="form-group">
    <input type="text" class="form-control input-sm" placeholder="Name" autofocus="true">
  </div>
  <div class="btn-group" role="group" aria-label="">
      <button type="button" class="btn btn-default btn-xs js-save">Save</button>
      <button type="button" class="btn btn-default btn-xs js-back">Back</button>
  </div>
</form>
