<% if (user.isAuthenticated()) { %>
    <button class="btn btn-danger btn-sm center-block" id="ShareButton" type="button">Share state</button>
<% } %>
<ul class="list-group"></ul>
<% if (user.isAuthenticated() && hasMore()) { %>
    <button class="btn btn-danger btn-sm center-block" id="LoadMore" type="button">Load more</button>
<% } %>