<span class="state-date"><%- name || date.format('L LT') %></span>
<div class="btn-group" role="group" aria-label="">
  <button type="button" class="btn btn-default btn-xs js-name">Name</button>
  <button type="button" class="btn btn-default btn-xs js-update">Save</button>
  <button type="button" class="btn btn-default btn-xs js-default <%- is_default ? 'active': '' %>">Default</button>
  <button type="button" class="btn btn-default btn-xs js-remove"><span class="glyphicon glyphicon-remove"></span></button>
</div>