<h1>Add or edit fields for selected items</h1>
<div>
    <select data-live-search="true" class="js-select-group">
        <option value="null">None</option>
        <% var sortedValues = editableGroups.sortBy(function(value) {return value.get('name')}) %>
        <% _.each(sortedValues, function (value, index) { %>
            <option value="<%- value.get('id') %>"><%- value.get('name') %></option>
        <% }); %>
    </select>
</div>
<div class="view-group-new"></div>
<div class="view-item-groups"></div>