<div class="group-field-new"></div>
<button class="btn btn-default js-add-field" type="button">Add</button>
<button class="btn btn-default js-save-field" type="button">Save</button>
<button class="btn btn-default js-remove-field" type="button">Remove</button>