<li>
    <div class="dropdown">
        <button id="logIn" data-toggle="dropdown" class="btn btn-default"><%- username %>
            <span class="label label-success"><%-obj.karma %></span>
            <span class="caret"></span>
        </button>
        <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="logIn">
            <li role="presentation" id="ScoresImport"><a role="menuitem">Import Scores</a></li>
            <li role="presentation" id="Recommendation"><a role="menuitem">Recommendation</a></li>
            <li role="presentation"><a role="menuitem">Karma: <span class="label label-success"><%-obj.karma %></span></a></li>
            <li role="presentation" class="divider"></li>
          <li role="presentation" id="LogOut" class="submit-button"><a role="menuitem" tabindex="-1">Log Out</a></li>
        </ul>
    </div>
</li>
