<% if(type === 'login'){ %>
<li>
    <div class="dropdown">
        <button data-toggle="dropdown" class="btn btn-default">Log In</button>
        <div class="dropdown-menu" aria-labelledby="logIn">
            <form role="form">
                <div class="form-group">
                    <label for="LoginName">Username</label>
                    <input type="text" class="form-control" id="LoginName" placeholder="Name" name="username">
                </div>
                <div class="form-group">
                    <label for="Password">Password</label>
                    <input type="password" class="form-control" id="Password" placeholder="Password" name="password">
                </div>
                <div class="alert alert-danger hidden" role="alert"></div>
                <button type="button" class="btn btn-default submit-button">Log In</button>
            </form>
        </div>
    </div>
</li>
<% } else { %>
<p>
    <a href="<%- forumUrl %>" target="_blank" class="btn btn-default">Sign Up</a>
</p>
<% } %>

