<% if (obj.status) { %>
    <div class="alert <%- getAlertClass() %>" role="alert">
        <p>Status: <%- status %> <%- status === 'Loading' ? '(Auto refresh)': '' %></p>
        <p><%- message %></p>
        <p>Username: <%- username %></p>
        <p>Scores: <%- obj.scores_count %></p>
        <p>Date: <%- getDate() %></p>
    </div>
<% } %>