<div class="row">
  <div class="col-sm-2 input-controls">
      <div class="row">
          <div class="col-xs-12" id="States"></div>
      </div>
      <div class="row">
          <div class="col-xs-12" id="Fields"></div>
      </div>
      <div class="row">
          <div class="col-xs-12" id="Filters"></div>
      </div>
  </div>
  <div class="col-sm-10 list-controls">
      <div class="row">
          <div class="col-lg-8" id="UpperPagination"></div>
          <div class="col-lg-4">
              <div id="SelectedItems" class="pull-right" style="margin: 0 3px"></div>
              <div id="TableMode" class="pull-right" style="margin: 0 3px"></div>
              <span class="glyphicon glyphicon-print js-print pull-right" style="margin: 10px 3px"></span>
              <span class="glyphicon glyphicon-refresh js-refresh pull-right" style="margin: 10px 3px"></span>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-12" id="SearchTable"></div>
      </div>
      <div class="row">
          <div class="col-lg-12" id="LoadMore"></div>
      </div>
      <div class="row">
          <div class="col-lg-12" id="DownPagination"></div>
      </div>
  </div>
</div>