<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%- tabs['showSearchTab'] %>" data-tab="showSearchTab">Media Adviser</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav js-tabs">
        <li><a href="<%- tabs['showSearchTab'] %>" data-tab="showSearchTab">Search</a></li>
        <li><a href="<%- tabs['showFieldsTab'] %>" data-tab="showFieldsTab">Fields</a></li>
        <li><a href="<%- tabs['showTempFieldsTab'] %>" data-tab="showTempFieldsTab">Temp Fields</a></li>
          <li><a href="<%- tabs['showNeighbours'] %>"  data-tab="showNeighbours">Neighbours</a></li>
          <li><a href="<%- tabs['showAboutTab'] %>"  data-tab="showAboutTab">About</a></li>
          <li><a href="<%- tabs['showHowTo'] %>"  data-tab="showHowTo">HowTo</a></li>
      </ul>
      <div id="UserSignUp"></div>
      <div id="UserLogIn"></div>
      <div id="UserPanel"></div>
    </div><!--/.nav-collapse -->
  </div>
</div>