<div class="panel-heading">
    <div class="row">
        <div class="col-xs-4">
            <h3 class="panel-title">Select fields</h3>
        </div>
        <% if (multi) { %>
            <div class="col-xs-8">
                <div class="multi-select pull-right">
                    Multiple
                    <label>
                        <input type="checkbox" class="multi-user"> user's
                    </label>
                    <label>
                        <input type="checkbox" class="multi-item"> item's
                    </label>
                    fields (second field click)
                </div>
            </div>
        <% } %>
    </div>
</div>
<div class="panel-body fields-grid">
</div>