<% var fields = getFields() %>
<div class="packery-fields-grid">
    <% _.each(fields, function (fieldType, typeIndex) { %>
        <% var typeId = fieldType.id %>
        <% _.each(fieldType.fields, function (field, index) { %>
            <% var fid = field.fid %>
            <% if (field.shown) { %>
                <div class="panel panel-default packery-field">
                  <div class="panel-heading"><%- field.name %></div>
                  <div class="panel-body">
                    <%- serialize(typeId, fid, obj) %>
                  </div>
                </div>
            <% } %>
        <% }) %>
    <% }) %>
</div>