<select class="input-sm input-user">
    <% if (obj.user) { %>
        <option value="<%- user %>" selected><%- username %></option>
    <% } else { %>
        <% if (userModel.isAuthenticated()){ %><option value="<%- userModel.get('id') %>" selected><%- userModel.get('username') %></option><% } %>
    <% } %>
</select>