<div class="container">
    <div class="panel">
        <div class="panel-body">
            <h1>Welcome to animeadvice</h1>

            <p>This site is under development, so all data can be change or drop.</p>

            <p>You can ask your questions <a target="_blank" href="http://askbot.animeadvice.me/questions/"
                                             target="_blank">here</a></p>

            <p>As I already told <a target="_blank"
                                    href="http://www.reddit.com/r/anime/comments/2lo9md/how_improve_anime_list_site/">before</a>,
                after creating <a target="_blank" href="http://animeadvice.me/">animeadvice</a> and <a target="_blank"
                                                                                                       href="http://test.animeadvice.me/">test.animeadvice</a>
                an idea popped up to make more handy list for anime and manga.
                But I had no desire to make another MAL, so I decided to make something that has more possibilities.
            </p>

            <p>The last year I've read a lot of posts at MAL's suggestion board and noticed that people often ask to add
                one or
                another field. I especially liked an idea with the fields like "genre, value".</p>

            <p>Adding one field is not a difficult task, but adding a lot is harder. That's what became one of the main
                ideas of
                my
                new project — the ability to add any new field. This ability will allow to keep many various types of
                content in
                the
                future, for example VNs, films, games and so on.</p>

            <p>Current site is somewhat similar to AniDB, in a way, but I added few other features as well.</p>

            <p>The main function of the site is to help users to find what to watch.</p>

            <p>A lot was already done, but a lot is yet to do for creating a really good site.
                This is a completely non-commercial use project and I make it for myself and other fans.</p>

            <p>Maybe the site for anime and mangs will not be very popular, but the main idea is that it's possible to
                keep
                whatever one likes, so maybe it will be usable as open source project.
                I am ready to open sources and make this project together with somebody either in its current form or as
                a
                constructor for sites with lists, if there are any volunteers. I use mainly python, django, js,
                marrionette.</p>

            <p>Your opinion is important for me.
                Thank you for your attention. Thanks to Serhiyko for translating the above message.</p>
            <br>

            <h4>Main features at the moment:</h4>
            <ul class="list-group">
                <li class="list-group-item"><b>Adding fields with new types.</b> Users can make a group of few fields,
                    e.g. SelectField, ValueField and use it
                    for
                    "genre, value" group. The users themselves think of new types and fill them. Meaning you can make
                    any score
                    system
                    you wish.
                </li>

                <li class="list-group-item"><b>Adding new fields to items.</b> After users confirm group, field or
                    selection, they can be added to the item.
                    Groups
                    with the "Item" type also require confirmation to appear in the search, but groups with the "User"
                    type
                    don't, they
                    will appear right away.
                </li>

                <li class="list-group-item"><b>Convenient search, filtration and sorting.</b> Users can select any
                    number and order of fields to be displayed
                    in the
                    main table. All fields are indexed and can be used for filtration. Users can sort with most of the
                    fields.
                </li>

                <li class="list-group-item"><b>Optional user lists. At the moment there are two main abilities.</b>
                    First, more illustrative, is to use
                    group with
                    the "User" type and field with "TextField" type to set user-defined tags, and after that user can
                    filter
                    list with
                    the tag. Second ability is to use filter with selected items. User can select them in the table if
                    he chose
                    Select
                    Mode. If user saves state after selection, selected items will be saved as well. Neither method
                    supports
                    custom
                    order at the moment, so user has to sort it in any way.
                </li>

                <li class="list-group-item"><b>Ability to save state of current fields, filters, selected items, page
                    and share it with a link.</b> The fields,
                    filters
                    and the rest will be the same for anyone who uses this link with the saved state. User can also use
                    states
                    to save
                    convenient order. The user can choose the default state that will be loaded when visiting the site.
                </li>

                <li class="list-group-item"><b>Convenient fields editing.</b> User can select few items and add one
                    field to all items at the same time. User
                    can add
                    fields by pressing them in the table, if «View/Edit/Add Mode» is active.
                </li>

                <li class="list-group-item"><b>Transfer of MAL scores.</b> After registration user can pick option in
                    the user menu to import MAL scores. Only
                    score,
                    status and data are imported at the moment.
                </li>

                <li class="list-group-item"><b>Recommendations.</b> Automatic recommendations by
                    collaborative filtering algorithm.
                </li>

                <li class="list-group-item"><b>Neighbours.</b> Find neighbours from MAL.
                </li>

                <li class="list-group-item"><b>Private fields.</b> Any user-defined group can be marked as private while
                    adding, and it will be displayed only
                    when
                    that user is logged in.
                </li>

                <li class="list-group-item"><b>Karma.</b> After confirmation of your field or field that you voted on,
                    some karma will be added to you. It's
                    just a
                    rough draft right now.
                </li>
            </ul>

            <br>
            <h4>Planned features:</h4>
            <ul class="list-group">
                <li class="list-group-item"><b>Adding new types and items.</b> I plan to expand the database with new
                    types in the future, for example films,
                    and give
                    users ability to add new items.
                </li>

                <li class="list-group-item"><b>Improving interface and usability.</b></li>

                <li class="list-group-item"><b>Improving karma system.</b> Configuring different limits.</li>

                <li class="list-group-item"><b>Notification system.</b> To add possibility for users to subscribe to
                    changes to item, group and item's group.
                    For
                    example, subscribe to "Aired To" field to not miss the end of the season.
                </li>

                <li class="list-group-item"><b>Statistics page.</b></li>

                <li class="list-group-item"><b>Custom styles for user lists.</b> To give every user possibility to make
                    custom style for his list in whatever
                    way he
                    wishes, right up to optional js and html templates.
                </li>

                <li class="list-group-item"><b>Optional item order.</b> For every set "(select value, value) for
                    (select, value)" I plan to make new field
                    which will
                    be sortable. Then for groups with "genre" type the value will be sortable by the value for the
                    comedy. Also,
                    this
                    will allow users to make custom items order.
                </li>

                <li class="list-group-item"><b>Comments.</b> Ability to add comments to fields, to indicate source,
                    reasons and so on.

                <li class="list-group-item"><b>Custom User defined values for select.</b></li>

                <li class="list-group-item"><b>Settings for appearance.</b></li>

                <li class="list-group-item"><b>Auto-complete list.</b> Something like Taiga.</li>
            </ul>
        </div>
    </div>


</div>
