<div class="panel-heading">
    <h3 class="panel-title">Fields</h3>
</div>
<div class="panel-body">
    <button id="AddButton" class="btn btn-danger center-block btn-sm">Add Fields</button>
    <div id="SelectedFields"></div>
</div>
