/* http://cssload.net/ru/ */
#fadingBarsG {
    position: relative;
    width: 240px;
    height: 29px
}

.fadingBarsG {
    position: absolute;
    top: 0;
    background-color: #000000;
    width: 29px;
    height: 29px;
    -moz-animation-name: bounce_fadingBarsG;
    -moz-animation-duration: 1.2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: linear;
    -moz-transform: scale(.3);
    -webkit-animation-name: bounce_fadingBarsG;
    -webkit-animation-duration: 1.2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: linear;
    -webkit-transform: scale(.3);
    -ms-animation-name: bounce_fadingBarsG;
    -ms-animation-duration: 1.2s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-direction: linear;
    -ms-transform: scale(.3);
    -o-animation-name: bounce_fadingBarsG;
    -o-animation-duration: 1.2s;
    -o-animation-iteration-count: infinite;
    -o-animation-direction: linear;
    -o-transform: scale(.3);
    animation-name: bounce_fadingBarsG;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-direction: linear;
    transform: scale(.3);
}

#fadingBarsG_1 {
    left: 0;
    -moz-animation-delay: 0.48s;
    -webkit-animation-delay: 0.48s;
    -ms-animation-delay: 0.48s;
    -o-animation-delay: 0.48s;
    animation-delay: 0.48s;
}

#fadingBarsG_2 {
    left: 30px;
    -moz-animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
    -ms-animation-delay: 0.6s;
    -o-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

#fadingBarsG_3 {
    left: 60px;
    -moz-animation-delay: 0.72s;
    -webkit-animation-delay: 0.72s;
    -ms-animation-delay: 0.72s;
    -o-animation-delay: 0.72s;
    animation-delay: 0.72s;
}

#fadingBarsG_4 {
    left: 90px;
    -moz-animation-delay: 0.84s;
    -webkit-animation-delay: 0.84s;
    -ms-animation-delay: 0.84s;
    -o-animation-delay: 0.84s;
    animation-delay: 0.84s;
}

#fadingBarsG_5 {
    left: 120px;
    -moz-animation-delay: 0.96s;
    -webkit-animation-delay: 0.96s;
    -ms-animation-delay: 0.96s;
    -o-animation-delay: 0.96s;
    animation-delay: 0.96s;
}

#fadingBarsG_6 {
    left: 150px;
    -moz-animation-delay: 1.08s;
    -webkit-animation-delay: 1.08s;
    -ms-animation-delay: 1.08s;
    -o-animation-delay: 1.08s;
    animation-delay: 1.08s;
}

#fadingBarsG_7 {
    left: 180px;
    -moz-animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
    -ms-animation-delay: 1.2s;
    -o-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

#fadingBarsG_8 {
    left: 210px;
    -moz-animation-delay: 1.32s;
    -webkit-animation-delay: 1.32s;
    -ms-animation-delay: 1.32s;
    -o-animation-delay: 1.32s;
    animation-delay: 1.32s;
}

@-moz-keyframes bounce_fadingBarsG {
    0% {
        -moz-transform: scale(1);
        background-color: #000000;
    }

    100% {
        -moz-transform: scale(.3);
        background-color: #FFFFFF;
    }

}

@-webkit-keyframes bounce_fadingBarsG {
    0% {
        -webkit-transform: scale(1);
        background-color: #000000;
    }

    100% {
        -webkit-transform: scale(.3);
        background-color: #FFFFFF;
    }

}

@-ms-keyframes bounce_fadingBarsG {
    0% {
        -ms-transform: scale(1);
        background-color: #000000;
    }

    100% {
        -ms-transform: scale(.3);
        background-color: #FFFFFF;
    }

}

@-o-keyframes bounce_fadingBarsG {
    0% {
        -o-transform: scale(1);
        background-color: #000000;
    }

    100% {
        -o-transform: scale(.3);
        background-color: #FFFFFF;
    }

}

@keyframes bounce_fadingBarsG {
    0% {
        transform: scale(1);
        background-color: #000000;
    }

    100% {
        transform: scale(.3);
        background-color: #FFFFFF;
    }

}