body {
  padding-top: 70px;
}
.glyphicon {
  cursor: pointer;
}
.red-vote {
  color: #f00;
}
.green-vote {
  color: #008000;
}
.item-select-options {
  margin-right: 5px;
}
#UserSignUp,
#UserLogIn,
#UserPanel {
  margin-top: 5px;
}
.login {
  cursor: pointer;
  margin: 8px;
}
.login .dropdown-menu {
  width: 250px;
  padding: 10px;
}
.login .alert {
  padding: 5px;
}
.login p {
  margin: 0;
}
#Navigation .dropdown-menu {
  left: -170px;
}
#ItemDetailView .item-child .bootstrap-select {
  width: 100%;
}
#ItemDetailView .item-child table tr th {
  cursor: pointer;
  white-space: nowrap;
}
.table-text-show,
.table-text-hide {
  cursor: pointer;
}
#Fields .panel-body,
#Filters .panel-body {
  padding: 0 5px;
}
#Fields .glyphicone-remove,
#Filters .glyphicone-remove {
  margin-top: 2px;
}
#Fields #AddButton {
  margin-top: 2px;
  margin-bottom: 2px;
}
#SelectedFields {
  cursor: pointer;
}
#SelectedFields .list-group {
  margin-top: 0;
  margin-bottom: 5px;
}
#SelectedFields .list-group-item {
  padding: 0 10px;
}
#SelectedFields .checkbox {
  margin-top: 0;
  margin-bottom: 0;
}
#SelectedFields .child-fields {
  padding: 0;
}
.user-select .input-user {
  padding: 0;
  height: 25px;
}
.user-select .input-user .btn {
  padding: 0 12px;
}
.input-controls .panel {
  margin-bottom: 10px;
}
.input-controls .panel-heading {
  padding: 5px 15px;
}
.fields-select {
  margin-left: 5px;
}
.fields-select .panel-body {
  max-height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
}
.multi-select {
  margin: 0;
}
.multi-select label {
  margin: 0;
  line-height: 1;
}
.multi-select input {
  margin: 0;
}
.fields-grid {
  width: 650px;
}
.field-type {
  width: 200px;
  text-align: center;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}
.field-type .list-group-item {
  padding: 5px 10px;
}
.drop-content .fields-grid {
  padding-top: 0;
}
#Filters #GroupAddButton {
  margin-top: 2px;
  margin-bottom: 2px;
}
#Filters .panel {
  margin-bottom: 8px;
}
#Filters .panel-heading {
  padding-right: 5px;
}
#Filters .bootstrap-select {
  margin-bottom: 0;
  width: 100%;
}
#Filters .andor-select {
  margin-right: 10px;
}
#Filters .andor-select label {
  padding: 0 4px;
}
#Filters .filter-group-name {
  margin: 0;
}
#Filters .filter-field-name {
  margin: 2px 0;
  background-color: #ada;
  border-radius: 3px;
  padding: 0 2px;
}
#SubFilters .panel-heading {
  padding: 2px 2px;
}
#SubFilters .panel-body {
  padding: 0 2px;
}
#SubFilters .child-fields > div {
  margin: 2px 0;
}
#SubFilters .input-daterange input {
  padding: 0;
}
#SubFilters .slider-view .glyphicon,
#SubFilters .input-view .glyphicon {
  position: absolute;
  right: 25px;
  top: 2px;
}
#SubFilters .input-view.input-group {
  position: static;
}
#SubFilters .view-filter-field {
  position: relative;
}
.remove-button {
  cursor: pointer;
}
#SearchTable {
  min-height: 1000px;
  padding-left: 0;
}
#SearchTable .modal-dialog {
  width: 800px;
}
#SearchTable .main-table table {
  border-collapse: separate;
  border-spacing: 0 5px;
  border: 0;
}
#SearchTable .main-table table tr th {
  cursor: pointer;
  border: 1px solid #ddd;
  white-space: nowrap;
}
#SearchTable .main-table table .field-im {
  padding: 2px;
}
#SearchTable .main-table table .field-im img {
  height: 100px;
  max-width: 150px;
  padding: 5px;
}
#SearchTable .main-table table tr td ul {
  margin: 0;
}
#SearchTable .main-table table tr td.controls {
  width: 40px;
}
#SearchTable .main-table table li {
  min-height: 20px;
}
#SearchTable .main-table table th:first-child,
#SearchTable .main-table table td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
#SearchTable .main-table table th:last-child,
#SearchTable .main-table table td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
#UpperPagination .pagination,
#DownPagination .pagination {
  margin: 5px;
}
.list-pagination li {
  cursor: pointer;
}
.list-pagination li a {
  color: #333;
}
.list-pagination nav {
  text-align: center;
}
#FieldsTab .types-list {
  padding: 0 15px;
  border: 0;
}
#FieldsTab .types-list .panel-group,
#FieldsTab .types-list .panel {
  margin-bottom: 5px;
}
#FieldsTab .field-view .panel-heading {
  border-bottom: 0;
}
#FieldsTab .field-view .list-group-item-heading {
  margin-bottom: 10px;
}
#FieldsTab .panel-title span {
  cursor: pointer;
}
#FieldsTab .field-btn-new {
  margin: 5px;
}
#FieldsTab .select-btn-add {
  margin: 5px 0;
}
#FieldsTab .type-btn-new {
  margin: 15px;
}
#FieldsTab .user,
#FieldsTab .parent {
  margin-bottom: 0;
}
#FieldsTab .field-types-list {
  paddint-top: 5px;
}
#FieldsTab .type-vote {
  float: right;
}
.__all__ {
  margin-bottom: 0;
}
.view-vote {
  padding: 5px;
}
.view-vote .type-vote-sum {
  padding: 4px;
}
#States .state-date {
  word-wrap: normal;
  white-space: nowrap;
}
#States .list-group-item {
  top: 2px;
  padding: 5px 5px;
  cursor: pointer;
  border-left: 0;
  border-right: 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#States .list-group-item .glyphicon {
  top: 2px;
}
#States .panel-body {
  padding: 0;
  max-height: 160px;
  overflow-x: auto;
}
#States .panel-heading {
  padding: 12px 15px;
}
#States #StatesTabs {
  position: absolute;
  right: 13px;
  top: 0;
  border: 0;
}
#States #ShareButton,
#States #LoadMore {
  margin-top: 5px;
  margin-bottom: 5px;
}
#SelectedItems {
  text-align: right;
}
#SelectedItems .dropdown-menu {
  cursor: pointer;
}
#AddFieldsView .group-field-new {
  margin-top: 20px;
}
#LoadMore {
  text-align: center;
}
#NeighboursRequestsTable tr {
  cursor: pointer;
}
