body {
  padding-top: 80px;
}
.glyphicon {
  cursor: pointer;
}
.red-vote {
  color: #f00;
}
.green-vote {
  color: #008000;
}
.item-select-option {
  margin-right: 5px;
}
/* LOGIN SECTION */
#UserSignUp,
#UserLogIn,
#UserPanel {
  margin-top: 5px;
}
.login {
  cursor: pointer;
  margin: 8px;
}
.login .dropdown-menu {
  width: 250px;
  padding: 10px;
}
.login .alert {
  padding: 5px;
}
.login p {
  margin: 0;
}
#Navigation .dropdown-menu {
  left: -170px;
}
/* Selected Fields Section */
#Fields #AddButton {
  margin-top: 2px;
  margin-bottom: 2px;
}
#SelectedFields .list-group {
  margin-bottom: 5px;
  margin-top: 0;
}
#SelectedFields .list-group-item {
  padding: 0 10px;
}
#SelectedFields {
  cursor: pointer;
}
#SelectedFields .checkbox {
  margin-top: 0;
  margin-bottom: 0;
}
/* User input */
.input-user.input-sm {
  padding: 0;
  height: 25px;
}
.input-user .btn {
  padding: 0 12px;
}
/* Fields Select */
.input-controls .panel {
  margin-bottom: 10px;
}
.input-controls .panel-heading {
  padding: 5px 15px;
}
.fields-select .panel-body {
  max-height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
}
.multi-select label {
  margin: 0;
  line-height: 1;
}
.multi-select {
  margin: 0;
}
.multi-select input {
  margin: 0;
}
.fields-select {
  margin-left: 5px;
}
.fields-grid {
  width: 650px;
}
.field-type {
  width: 200px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 5px;
  margin-top: 5px;
}
.field-type .list-group-item {
  padding: 5px 10px;
}
.drop-content .fields-grid {
  padding-top: 0;
}
/* Filters Section */
#Filters .panel-body,
#Fields .panel-body {
  padding: 0 5px;
}
#Filters #GroupAddButton {
  margin-top: 2px;
  margin-bottom: 2px;
}
#Filters .panel {
  margin-bottom: 8px;
}
#SubFilters .panel-heading {
  padding-bottom: 0;
  padding-top: 0;
  padding-left: 5px;
}
#SubFilters .panel-body {
  padding: 0 2px;
}
#SubFilters .child-fields > div {
  margin: 2px 0 2px 20px;
}
#Filters .bootstrap-select {
  margin-bottom: 0;
  width: 100%;
}

.andor-select {
  margin-right: 10px;
}
#Filters .andor-select label {
  padding: 0 4px;
}
#Filters .filter-group-name {
  margin-top: 0;
  margin-bottom: 5px;
  padding-right: 5px;
}
#Filters .filter-field-name {
  margin: 2px 0;
  background-color: #ada;
  border-radius: 3px;
  padding: 0 2px;
}
#Filters .panel-heading {
  padding-right: 5px;
}
#Fields .glyphicon-remove,
#Filters .glyphicon-remove {
  margin-top: 2px;
}
.remove-button {
  cursor: pointer;
}
/* TABLE STYLES */
#SearchTable {
  min-height: 1000px;
  padding-left: 0;
}
#SearchTable table {
  border-collapse: separate;
  border-spacing: 0 5px;
  border: 0;
}
#SearchTable tr th {
  cursor: pointer;
  border: 1px solid #ddd;
  white-space: nowrap;
}
#SearchTable .field-im {
  padding: 2px;
}
#SearchTable tr td ul {
  margin: 0;
}
#SearchTable tr td.controls {
  width: 40px;
}
.field-im img {
  height: 100px;
  max-width: 150px;
  padding: 5px;
}
#SearchTable li {
  min-height: 20px;
}
#SearchTable th:first-child {
  border-top-left-radius: 10px;
}
#SearchTable th:last-child {
  border-top-right-radius: 10px;
}
#SearchTable th:first-child {
  border-bottom-left-radius: 10px;
}
#SearchTable th:last-child {
  border-bottom-right-radius: 10px;
}
#SearchTable td:first-child {
  border-top-left-radius: 10px;
}
#SearchTable td:last-child {
  border-top-right-radius: 10px;
}
#SearchTable td:first-child {
  border-bottom-left-radius: 10px;
}
#SearchTable td:last-child {
  border-bottom-right-radius: 10px;
}
/* PAGINATION */
#UpperPagination .pagination,
#DownPagination .pagination {
  margin: 5px;
}
.list-pagination li {
  cursor: pointer;
}
.list-pagination li a {
  color: #333;
}
.list-pagination nav {
  text-align: center;
}
/* FIELDS TAB */
#FieldsTab .types-list .panel-group {
  margin-bottom: 5px;
}
#FieldsTab .types-list .panel {
  margin-bottom: 5px;
}
#FieldsTab .types-list {
  padding: 0 15px;
  border: 0;
}
#FieldsTab .field-view .panel-e-heading {
  border-bottom: 0;
}
#FieldsTab .panel-title span {
  cursor: pointer;
}
#FieldsTab .field-btn-new {
  margin: 5px;
}
#FieldsTab .select-btn-add {
  margin: 5px 0;
}
#FieldsTab .type-btn-new {
  margin: 15px;
}
.__all__ {
  margin-bottom: 0;
}
#FieldsTab .user,
#FieldsTab .parent {
  margin-bottom: 0;
}
#FieldsTab .field-types-list {
  padding-top: 5px;
}
#FieldsTab .type-vote {
  float: right;
}
#FieldsTab .field-view .list-group-item-heading {
  margin-bottom: 10px;
}
/* Vote */
.view-vote {
  padding: 5px;
}
/* States */
#States .list-group {
  margin-bottom: 0;
}
#States .state-date {
  word-wrap: normal;
  white-space: nowrap;
}
#States .list-group-item .glyphicon {
  top: 2px;
}
#States .list-group-item {
  padding: 5px 5px;
  cursor: pointer;
  border-left: 0;
  border-right: 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#States .panel-body {
  padding: 0;
  max-height: 160px;
  overflow-x: auto;
}
#States #StatesTabs {
  position: absolute;
  right: 13px;
  top: 0;
  border: 0;
}
#States #ShareButton {
  margin-top: 5px;
  margin-bottom: 5px;
}
#States #LoadMore {
  margin-top: 5px;
  margin-bottom: 5px;
}
#States .panel-heading {
  padding: 12px 15px;
}
/* Selected Items */
#SelectedItems .dropdown-menu {
  cursor: pointer;
}
#SelectedItems {
  text-align: right;
}
/* Add fields view */
#AddFieldsView .group-field-new {
  margin-top: 20px;
}
