body
  padding-top 70px

.glyphicon
  cursor pointer

.red-vote
  color #f00

.green-vote
  color #008000

.item-select-options
  margin-right 5px

#UserSignUp
#UserLogIn
#UserPanel
  margin-top 5px

.login
  cursor pointer
  margin 8px

  .dropdown-menu
    width 250px
    padding 10px

  .alert
    padding 5px

  p
    margin 0

#Navigation
  .dropdown-menu
    left -170px

#ItemDetailView .item-child
  .bootstrap-select
    width 100%

  table
    tr th
      cursor pointer
      white-space nowrap

.table-text-show, .table-text-hide
  cursor pointer

#Fields
#Filters
  .panel-body
    padding 0 5px

  .glyphicone-remove
    margin-top 2px

#Fields #AddButton
  margin-top 2px
  margin-bottom 2px

#SelectedFields
  cursor pointer

  .list-group
    margin-top 0
    margin-bottom 5px

  .list-group-item
    padding 0 10px

  .checkbox
    margin-top 0
    margin-bottom 0

  .child-fields
    padding 0

.user-select
  .input-user
    padding 0
    height 25px

    .btn
      padding 0 12px

.input-controls
  .panel
    margin-bottom 10px

  .panel-heading
    padding 5px 15px

.fields-select
  margin-left 5px

  .panel-body
    max-height 600px
    overflow-x hidden
    overflow-y auto

.multi-select
  margin 0

  label
    margin 0
    line-height 1

  input
    margin 0

.fields-grid
  width 650px

.field-type
  width 200px
  text-align center
  cursor pointer
  margin-top 5px
  margin-bottom 5px
  margin-left 5px

  .list-group-item
    padding 5px 10px

.drop-content .fields-grid
  padding-top 0

#Filters
  #GroupAddButton
    margin-top 2px
    margin-bottom 2px

  .panel
    margin-bottom 8px

  .panel-heading
    padding-right 5px

  .bootstrap-select
    margin-bottom 0
    width 100%

  .andor-select
    margin-right 10px

    label
      padding 0 4px

  .filter-group-name
    margin 0

  .filter-field-name
    margin 2px 0
    background-color #ada
    border-radius 3px
    padding 0 2px


#SubFilters
  .panel-heading
    padding 2px 2px

  .panel-body
    padding 0 2px

  .child-fields > div
    margin 2px 0

  .input-daterange input
    padding 0

  .slider-view .glyphicon, .input-view .glyphicon
    position absolute
    right 25px
    top 2px

  .input-view.input-group
    position static

  .view-filter-field
    position relative

.remove-button
  cursor pointer

#SearchTable
  min-height 1000px
  padding-left 0

  .modal-dialog
    width 800px

  .main-table
    table
      border-collapse separate
      border-spacing 0 5px
      border 0

      tr th
        cursor pointer
        border 1px solid #ddd
        white-space nowrap

      .field-im
        padding 2px
        img
          height 100px
          max-width 150px
          padding 5px

      tr td
        ul
          margin 0
        &.controls
          width 40px

      li
        min-height 20px

      th
      td
        &:first-child
          border-top-left-radius 10px
          border-bottom-left-radius 10px

        &:last-child
          border-top-right-radius 10px
          border-bottom-right-radius 10px

#UpperPagination
#DownPagination
  .pagination
    margin 5px

.list-pagination
  li
    cursor pointer

    a
      color #333

  nav
    text-align center

#FieldsTab
  .types-list
    padding 0 15px
    border 0
    .panel-group
    .panel
      margin-bottom 5px

  .field-view
    .panel-heading
      border-bottom 0
    .list-group-item-heading
      margin-bottom 10px

  .panel-title
    span
      cursor pointer


  .field-btn-new
    margin 5px

  .select-btn-add
    margin 5px 0

  .type-btn-new
    margin 15px

  .user
  .parent
    margin-bottom 0

  .field-types-list
    paddint-top 5px

  .type-vote
    float right

.__all__
  margin-bottom 0

.view-vote
  padding 5px

  .type-vote-sum
    padding 4px

#States
  .state-date
    word-wrap normal
    white-space nowrap

  .list-group-item
    top 2px
    padding 5px 5px
    cursor pointer
    border-left 0
    border-right 0
    border-top 1px solid #ddd
    border-bottom 1px solid #ddd
    border-top-left-radius 0
    border-top-right-radius 0

    .glyphicon
      top 2px

  .panel-body
    padding 0
    max-height 160px
    overflow-x auto

  .panel-heading
    padding 12px 15px

  #StatesTabs
    position absolute
    right 13px
    top 0
    border 0

  #ShareButton
  #LoadMore
    margin-top 5px
    margin-bottom 5px

#SelectedItems
  .dropdown-menu
    cursor pointer
  text-align right

#AddFieldsView
  .group-field-new
    margin-top 20px

#LoadMore
  text-align center

#NeighboursRequestsTable
  tr
    cursor pointer
