<div class="panel-heading">
    <h3 class="panel-title">States</h3>
    <ul class="nav nav-tabs" role="tablist" id="StatesTabs">
      <li role="presentation" class="active"><a href="#LocalStates" aria-controls="LocalStates" role="tab" data-toggle="tab">Local</a></li>
      <li role="presentation"><a href="#SharedStates" aria-controls="SharedStates" role="tab" data-toggle="tab">Shared</a></li>
    </ul>
</div>
<div class="panel-body">
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="LocalStates">Local</div>
      <div role="tabpanel" class="tab-pane" id="SharedStates">Shared</div>
    </div>
</div>
