<div class="checkbox filter-field-name" style="">
    <label>
        <input type="checkbox" class="onoff"><b> <%- parent.get('name') %></b>
    </label>
    <div class="pull-right remove-button"><span class="glyphicon glyphicon-remove js-remove"></span></div>
    <% if ('or' in obj) { %>
        <div class="btn-group andor-select pull-right" data-toggle="buttons">
          <label class="btn btn-default btn-xs js-and">
            <input type="radio"> And
          </label>
          <label class="btn btn-default btn-xs js-or">
            <input type="radio"> Or
          </label>
        </div>
    <% } %>
</div>
replacebyfieldfilter