<div class="input-daterange input-group">
    <input type="text" class="form-control" name="from"/>
    <span class="input-group-addon">to</span>
    <input type="text" class="form-control" name="to"/>
</div>