<div class="slider-view">
    <input type="text" class="range-slider" value=""/>
    <span class="glyphicon glyphicon-edit js-view"></span>
</div>
<div class="input-daterange input-view input-group">
    <input type="text" class="form-control" name="from">
    <span class="input-group-addon">to</span>
    <input type="text" class="form-control" name="to">
    <span class="glyphicon glyphicon-share js-view"></span>
</div>