<select multiple data-live-search="true">
    <% var sortedValues = _.sortBy(parent.get('values'), function(value) {return value.name}) %>
    <% _.each(sortedValues, function (value, index) { %>
        <% if (!value.is_temp){ %><option value="<%- value.number %>"><%- value.name %></option><% } %>
    <% }); %>
    <option value="null">None</option>
</select>