<div class="btn-group">
  <button type="button" class="btn btn-default js-select">Selected Items (<%- getSelectedCount() %>)</button>
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li class="js-clear"><a>Clear</a></li>
    <% if (user.isAuthenticated()) { %><li class="js-add-field"><a>Add field</a></li><% } %>
  </ul>
</div>