<div class="panel-heading">
    <h3 class="panel-title">Filters</h3>
</div>
<div class="panel-body">
    <button id="GroupAddButton" class="btn btn-danger center-block btn-sm">Add Filters</button>
    <div id="SubFilters"></div>
</div>
