<div class="panel-heading">
    <div class="checkbox filter-group-name">
        <label>
            <input type="checkbox" class="onoff"><b><%- parent.get('name') %></b>
        </label>
        <div class="pull-right remove-button"><span class="glyphicon glyphicon-remove js-remove"></span></div>
        <!--<button class="add-button btn btn-danger btn-xs pull-right" style="margin-right: 5px">
        <span class="glyphicon glyphicon-plus"></span></button>-->
    </div>
    <div class="user-select"></div>
    <div class="btn-group inout-select" data-toggle="buttons">
      <label class="btn btn-default btn-xs js-in">
        <input type="radio"> Include
      </label>
      <label class="btn btn-default btn-xs js-out">
        <input type="radio"> Exclude
      </label>
    </div>
</div>
<div class="panel-body row">
    <div class="child-fields col-lg-offset-1 col-lg-11"></div>
</div>