<% if(itemsCount() > 0) { %>
    <div class="table-responsive main-table">
        <table class="table table-bordered table-hover table-striped">
            <thead>
            <tr>
                <th class="controls"></th>
                <% selectedGroups.each(function (groupModel, groupIndex) { %>
                    <% if (groupModel.isActive()) { %>
                        <% groupModel.get('fields').each(function (field, index) { %>
                            <% if (field.isActive()) { %>
                                <% if(field.isSortable()){ %>
                                    <th class="sortable"
                                        data-gid="<%- groupModel.get('parent').get('id') %>"
                                        data-fid="<%- field.get('parent').get('fid') %>"
                                        data-direction="<%- getSortDirection(groupModel, field) %>"
                                        data-index="<%- groupModel.getIndex() %>">
                                        <span class="glyphicon <%- getSortGlyphicon(groupModel, field) %>"></span>
                                        <%- field.get('parent').get('name') %>
                                    </th>
                                <% } else { %>
                                    <th><%- field.get('parent').get('name') %></th>
                                <% } %>

                            <% } %>
                        <% }) %>
                    <% } %>
                <% }) %>
            </tr>
            </thead>
            <tbody class="child"></tbody>
        </table>
    </div>
<% } else { %>
    <div class="child"></div>
<% } %>
<div class="modal-view"></div>