<td class="controls"><a class="detail" href="<%- itemPath %>"><span class="glyphicon glyphicon-log-in"></span></a></td>
<% selectedGroups.each(function (groupModel, groupIndex) { %>
    <% if(groupModel.isActive()) { %>
        <% var currentGroupFields = model.serialize(groupModel, options); %>
        <% groupModel.get('fields').each(function (selectedField, index) { %>
            <% if(selectedField.isActive()) { %>
                <% var currentClass = 'field-' + selectedField.get('parent').get('type') %>
                <td class="<%- currentClass %>"
                    data-gid="<%- groupModel.get('parent').get('id') %>">
                    <ul class="list-unstyled">
                        <% _.each(currentGroupFields, function (fields) { %>
                            <li>
                                <% //special case for count field %>
                                <% if (groupModel.get('parent').get('id') === 1 && selectedField.get('parent').get('fid') === 'b') { %>
                                    <%= itemCount() %>
                                <% } else { %>
                                    <%= fields[index] || '-' %>
                                <% } %>
                            </li>
                        <% }); %>
                    </ul>
                </td>
            <% } %>
        <% }); %>
    <% } %>
<% }); %>
