<div class="container">
    <h1>Neighbours</h1>
    <div id="AddNeiRequest"></div>
    <div id="NeiRequests"></div>
    <div id="ActiveResult"></div>
    <% if (!user.isAuthenticated()) { %>
        <p>You must login</p>
    <% } %>
</div>