<% if (obj.status) { %>
    <td><%- getDate() %></td>
    <td><%- status %> <%- status === 'Loading' ? '(Auto refresh)': '' %></td>
    <td><%- message %></td>
    <td><%- cross_count %></td>
<% } %>
