<div class="checkbox">
    <label>
        <input type="checkbox" class="onoff"> <%- parent.get('name') %>
    </label>
    <span class="glyphicon glyphicon-remove pull-right js-remove"></span>
</div>