<a class="list-group-item list-group-item-info">
    <div class="checkbox">
        <label>
            <input type="checkbox" class="onoff"><b><%- parent.get('name') %></b>
        </label>
        <span class="glyphicon glyphicon-remove pull-right js-remove"></span>
    </div>
    <div class="user-select"></div>
</a>
<ul class="child-fields"></ul>