{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/siteicon.ico">
    <title>Media search system</title>

    {% if not DEBUG %}
        <link rel="stylesheet" href="{% static "css/full.css" %}">
        <script src="{{ STATIC_URL }}js/bower_components/drop/drop.min.js" defer></script>
        <script data-main="{{ STATIC_URL }}js/search.min.js" src="{{ STATIC_URL }}js/bower_components/requirejs/require.js" defer></script>
        <script>
          DEBUG = false;
        </script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-36517231-2', 'auto');
          ga('send', 'pageview');

        </script>
    {% else %}
        <link rel="stylesheet" href="{% static "css/enter.css" %}">
        <script src="{{ STATIC_URL }}js/bower_components/drop/drop.js" defer></script>
        <script data-main="{{ STATIC_URL }}js/loadapp.js" src="{{ STATIC_URL }}js/bower_components/requirejs/require.js" defer></script>
        <script>
          DEBUG = true;
        </script>
    {% endif %}

    <script>
        LoadImage = "{{ STATIC_URL }}img/loader.gif"
    </script>
</head>
<body>
    <div id="Navigation"></div>
    <div id="Container">
        <div style="position: fixed; left: 45%; top: 45%;">
            <img src="{{ STATIC_URL }}img/loader.gif">
        </div>
    </div>
    {% block content %}{% endblock %}
</body>
</html>