<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Media search system</title>

    <link rel="shortcut icon" type="image/png" href="{{ STATIC_URL }}js/bower_components/jasmine/images/jasmine_favicon.png">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}js/bower_components/jasmine/lib/jasmine-core/jasmine.css">

    <script src="{{ STATIC_URL }}js/bower_components/drop/drop.js"></script>
    <script data-main="{{ STATIC_URL }}js/jasmine-tests.js" src="{{ STATIC_URL }}js/bower_components/requirejs/require.js" defer></script>
</head>
<body>
</body>
</html>