<select multiple data-live-search="true">
    <% var init = getInit() %>
    <% if (init && init.length > 0) { %>
        <% _.each(init, function(data, index) { %>
            <option value="<%- data[0] %>" selected><%- data[1] %></option>
        <% }) %>
    <% } %>
</select>