<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title"><span>Field Types</span></h2>
    </div>
    <div>
        <% if (user.isAuthenticated()) { %>
            <button class="btn btn-danger type-btn-new">Add new type</button>
        <% } %>
    </div>
    <div class="list-group field-types-list">
    </div>
</div>