<div class="panel-group" role="tablist">
    <div class="panel panel-info">
        <div class="panel-heading" role="tab" id="collapseListGroupHeading<%- cid %>">
            <h5 class="panel-title">
                <span class="collapsed" data-toggle="collapse" href="#collapseListGroup<%- cid %>" aria-expanded="false"
                   aria-controls="collapseListGroup<%- cid %>">
                    <span class="label label-<%- labelType %>"><%- typeName %></span>
                    <% if (is_temp) { %><span class="label label-danger">Temp</span><% } %>
                    <b><%- name %></b>
                    <span><%- description %></span>
                    <span class="type-vote"></span>
                </span>
            </h5>
        </div>
        <div id="collapseListGroup<%- cid %>" class="panel-collapse collapse" role="tabpanel"
             aria-labelledby="collapseListGroupHeading<%- cid %>" aria-expanded="false" style="height: 0;">
            <% if (edit !== 'no' && user.isAuthenticated()) { %>
                <button class="btn btn-primary field-btn-new btn-sm">Add new field</button>
            <% } %>
            <ul class="list-group">
            </ul>
        </div>
    </div>
</div>