<h4 class="list-group-item-heading"><%- name %> <span class="label label-primary"><%- typeName %></span> <% if (is_temp) { %><span class="label label-danger">Temp</span><% } %></h4>
<p><span class="field-vote"></span><%- description %></p>
<p class="list-group-item-text">
    <div class="selects"></div>
</p>