<% if (user.isAuthenticated()) { %>
    <span class="glyphicon glyphicon-thumbs-up js-vote <% if (stats.getUserVote(target) > 0){ %>green-vote<% } %>"
          data-value="1" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-thumbs-down js-vote <% if (stats.getUserVote(target) < 0){ %>red-vote<% } %>"
          data-value="-1" aria-hidden="true"></span>
    <% if (stats.getVoteSum(target) !== undefined){ %>
        <span class="label label-info type-vote-sum"><%- stats.getVoteSum(target)  %></span>
    <% } %>
<% } %>