<% if (obj.neighbours) { %>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Compatibility</th>
                <th>Shared</th>
            </tr>
        </thead>
        <tbody>
            <% _.each(neighbours, function (n, i) { %>
                <tr>
                    <td>
                        <a target="_blank" href="http://myanimelist.net/profile.php?id=<%- n[0] %>"><%- n[1] %></a>
                    </td>
                    <td><%- compatibility(n[2]) %></td>
                    <td><%- n[3] %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
<% } %>