<p class="list-group-item-text">min: <%- obj.min %>, max: <%- obj.max %>, step: <%- obj.step %> <span class="select-vote"></span> <% if (obj.is_temp) { %><span class="label label-danger">Temp</span><% } %></p>