<% if (fid !== 'pr' && type.get('edit') !== 'no' && user.isAuthenticated()) { %>
    <% if (parent.get('type') === 'se') { %>
        <button class="btn btn-info select-btn-add btn-sm">Add new select</button>
    <% } else { %>
        <button class="btn btn-info select-btn-add btn-sm">Add new range</button>
    <% } %>
<% } %>
<div class="panel-group" role="tablist">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="collapseListGroupHeading<%- cid %>">
            <h5 class="panel-title">
                <span class="collapsed" data-toggle="collapse" href="#collapseListGroup<%- cid %>" aria-expanded="false"
                   aria-controls="collapseListGroup<%- cid %>">
                    Values
                </span>
            </h5>
        </div>
        <div id="collapseListGroup<%- cid %>" class="panel-collapse collapse" role="tabpanel"
             aria-labelledby="collapseListGroupHeading<%- cid %>" aria-expanded="false" style="height: 0;">
            <ul class="list-group">
            </ul>
        </div>
    </div>
</div>