<nav>
    <ul class="pagination pagination-sm">
        <% var currentPage = getCurrentPage() %>
        <li data-page="<%- currentPage - 1 %>" class="page-previous <% if(currentPage === 1){ %>disabled<% } %>"><a>«</a></li>
        <% for (var i = 1; i < currentPage; i++) { %>
            <li data-page="<%- i %>"><a><%- i %></a></li>
        <% } %>
        <li data-page="<%- currentPage %>" class="active"><a><%- currentPage %><span class="sr-only">(current)</span></a></li>
        <% if(!isLastPage()){ %>
            <% for (var i = 1; i <= 5; i++) { %>
                <li data-page="<%- currentPage + i %>" ><a><%- currentPage + i %></a></li>
            <% } %>
        <% } %>
        <li data-page="<%- currentPage + 1 %>" class="page-next <% if(isLastPage()){ %>disabled<% } %>"><a>»</a></li>
    </ul>
</nav>